.wrapper { display: flex; flex-direction: column; align-items: center; }

.form-wrapper { width: 100%; max-width: 400px; margin-bottom: 20px; }

.form { width: 100%; }

.head{
    text-decoration: underline;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}
